* {
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}



.hero {
    background-image: url("https://images.unsplash.com/photo-1534375971782-6e26b10d6748");
    background-size: cover;
    background-position: center;
    background-color: transparent;
    height: 0px;
    margin-top:  200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    margin: 0;
}

.hero p {
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    margin-top: 20px;
}

.cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cta button {
    background-color: #1f2029;
    color: white;
    font-size: 24px;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.cta button:hover {
    background-color: #2d2e38;
}

.call-to-action1 {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }

  .call-to-action2 {
    background-color: #5a0000;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }

.call-to-action {
    background-color: #111111;
    color: #fff;
    padding: 2rem;
    text-align: center;
    margin-top: 270px;
  }
  
  .call-to-action h2 {
    margin-top: 0;
  }



  .modern-button {
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .modern-button:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }
  
  .modern-button a {
    text-decoration: none;
    color: inherit;
  }

  .modern-button1 {
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .modern-button1:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }
  
  .modern-button1 a {
    text-decoration: none;
    color: inherit;
  }


  body {
    margin: 0;
    padding: 0;
    background: #000;
  }
  
  video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
  }
  
  @media (max-width: 767px) {
    video {
      display: none;
    }
  }



  /* Pour Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: hsl(204, 59%, 16%);
  }
  
  /* Pour les autres navigateurs */
  body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background: #000;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: hsl(204, 59%, 16%);
    border-radius: 20px;
  }







  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
    
    #text {
    font-size: 4rem;
    font-weight: bold;
    color: #ffffff;
    }





  



    .saison {
      font-size: 50px;
      display: inline-block;
      background: linear-gradient(-50deg, #ffffff, #6b6b6b, #1f1f1f, #6b6b6b, #1f1f1f, #6b6b6b, #ffffff, #ffffff, #ffffff, #ffffff );
      background-size: 400%;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      animation: wave 3s ease-in-out infinite;
      position: relative; left: 20px;
      margin: 20px;
    }
    
    @keyframes wave {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 280% 0;
      }
    }

    .saison-c {
      color: #5a0000;
      font-size: 50px;
    }

    .saison-Save {
      font-size:  50px;
    }